@model ExpensePortal.Models.SetPasswordViewModel

@{
    ViewBag.Title = "Set Password";
}

<div class="row">
    <h1>@ViewBag.Title</h1>
    <div class="sixcol">
        <p>Hello @Model.FirstName @Model.LastName</p>

        <p>Please enter your new security details:</p>
        
        <p>Your username is: @Model.UserName</p>

        @using (Html.BeginForm("SetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.Token)

            <div class="field">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-danger" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            
            <input type="submit" value="Save" />
        }
    </div>
</div>

